.dashboard {
  width: 100;
  height: 100vh;
  position: relative;
}
.dashboard .dashCompoment {
  background-color: #ffffff;
  display: flex;
  justify-content: center;
}
.dashboard .dashCompoment h1 {
  font-size: 2rem;
  color: #343a40;
}
.dashboard .menu-bars {
  display: inline-block;
  font-size: 25px;
  margin: 20px 0 0 20px;
  cursor: pointer;
}

.dashSidebar {
  background-color: #f8f9fa;
  box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.1);
  height: 100vh;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 250px;
  top: 0;
  left: -100%;
  position: absolute;
}
.dashSidebar.active {
  left: 0;
  transition: 350ms;
}
.dashSidebar .sidebarTimes {
  font-size: 25px;
  display: flex;
  width: 100%;
  justify-content: end;
  margin-bottom: 15px;
  cursor: pointer;
}
.dashSidebar .sidebarTimes:hover {
  color: rgb(201, 25, 25);
}
.dashSidebar .link {
  padding: 15px 20px;
  margin: 10px 0;
  text-align: left;
  text-decoration: none;
  color: #495057;
  font-size: 1rem;
  border-radius: 5px;
  transition: all 0.3s ease;
  width: 200px;
}
.dashSidebar .link:hover {
  background-color: #e9ecef;
  color: #343a40;
}
.dashSidebar .link-active {
  background-color: #343a40;
  color: #fff;
}
.dashSidebar .currentUser span {
  display: flex;
  align-items: center;
  color: rgb(5, 255, 5);
  text-transform: lowercase;
}
.dashSidebar .currentUser img {
  border-radius: 50%;
  margin: 5px;
  height: 30px;
}
.dashSidebar .signout:hover {
  color: red;
}

.sideCard {
  padding: 15px 20px;
  margin: 10px 0;
  text-align: left;
  text-decoration: none;
  background-color: #343a40;
  color: #fff;
  font-size: 1rem;
  border-radius: 5px;
  width: 200px;
  display: flex;
  cursor: pointer;
}
.sideCard h2 {
  display: flex;
  align-items: center;
  font-size: 18px;
  margin: 0 10px;
  font-weight: 300;
}
.sideCard:hover {
  background-color: #e9ecef;
  color: #343a40;
}

.modalContent {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}
.modalContent button {
  margin-right: 10px;
  padding: 5px;
}

.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 999;
}

.button-55 {
  align-self: center;
  background-color: #fff;
  background-image: none;
  background-position: 0 90%;
  background-repeat: repeat no-repeat;
  background-size: 4px 3px;
  border-radius: 15px 225px 255px 15px 15px 255px 225px 15px;
  border-style: solid;
  border-width: 2px;
  box-shadow: rgba(0, 0, 0, 0.2) 15px 28px 25px -18px;
  box-sizing: border-box;
  color: #41403e;
  cursor: pointer;
  display: inline-block;
  font-family: Neucha, sans-serif;
  font-size: 1rem;
  line-height: 23px;
  outline: none;
  padding: 0.75rem;
  text-decoration: none;
  transition: all 235ms ease-in-out;
  border-bottom-left-radius: 15px 255px;
  border-bottom-right-radius: 225px 15px;
  border-top-left-radius: 255px 15px;
  border-top-right-radius: 15px 225px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}
.button-55:hover {
  box-shadow: rgba(0, 0, 0, 0.3) 2px 8px 8px -5px;
  transform: translate3d(0, 2px, 0);
}
.button-55:focus {
  box-shadow: rgba(0, 0, 0, 0.3) 2px 8px 4px -6px;
}

.dashUser {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.dashUser button {
  width: 350px;
}
.dashUser .userCard {
  display: flex;
  align-items: center;
  width: 500px;
  height: 50px;
  margin-bottom: 25px;
  padding: 5px 15px;
  background-color: #f8f9fa;
  box-shadow: 3px 3px 3px #bebebe;
  justify-content: space-between;
  cursor: pointer;
}
.dashUser .userCard .userInformation {
  margin-left: 10px;
  display: flex;
  justify-content: space-between;
  width: 400px;
}
.dashUser .userCard:hover {
  box-shadow: 6px 6px 12px #a1a1a1;
}
.dashUser .userCard .userIcons {
  font-size: 20px;
  display: flex;
  width: 60px;
  justify-content: space-between;
}
.dashUser .userCard .userIcons .updateIcon {
  color: rgb(0, 85, 0);
}
.dashUser .userCard .userIcons .updateIcon:hover {
  color: rgb(6, 239, 6);
}
.dashUser .userCard .userIcons .deleteIcon {
  color: rgb(185, 5, 5);
}
.dashUser .userCard .userIcons .deleteIcon:hover {
  color: rgb(254, 36, 36);
}

.dashPost {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.dashPost button {
  width: 350px;
}
.dashPost .postbtn {
  width: 100%;
  text-align: center;
}
.dashPost .postbtn button {
  width: 100px;
  padding: 5px 15px;
  margin: 15px;
  align-items: center;
  justify-content: center;
}
.dashPost .postCard {
  display: flex;
  align-items: center;
  width: 500px;
  height: 70px;
  margin-bottom: 25px;
  padding: 5px 15px;
  background-color: #f8f9fa;
  box-shadow: 3px 3px 3px #bebebe;
  justify-content: space-between;
  cursor: pointer;
}
.dashPost .postCard:hover {
  box-shadow: 6px 6px 12px #a1a1a1;
}
.dashPost .postCard img {
  height: 55px;
}
.dashPost .postCard .postIcons {
  font-size: 20px;
  display: flex;
  width: 60px;
  justify-content: space-between;
}
.dashPost .postCard .postIcons .updateIcon {
  color: rgb(0, 85, 0);
}
.dashPost .postCard .postIcons .updateIcon:hover {
  color: rgb(6, 239, 6);
}
.dashPost .postCard .postIcons .deleteIcon {
  color: rgb(185, 5, 5);
}
.dashPost .postCard .postIcons .deleteIcon:hover {
  color: rgb(254, 36, 36);
}

/*# sourceMappingURL=admin-panel.css.map */
